/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Oswald', sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* <!-- Menü Başlangıç MERT --> */
.navBar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 50px;
  gap: 70px;
}

.middleArea {
  display: none;
}

.rightArea {
  display: flex;
  gap: 15px;
  padding: 10px 0;
  align-items: center;
  padding-right: 9px;
}

.hamburger {
  padding: 18px 0;
  padding-left: 14px;
  cursor: pointer;
}

.crisp {
  padding: 10px 0;
  align-items: center;
}

.middleArea {
  display: none;
}

.rightAreaDesktop {
  display: none;
}

@media screen and (min-width: 990px) {
  .navBar {
    height: 115px;
    padding-left: 20px;
  }

  .hamburger {
    display: none;;
  }

  .crisp {
    padding: 35px 0;
  }

  .rightArea {
    display: none;
  }

  .middleArea {
    display: flex;
  }

  .rightAreaDesktop {
    display: flex;
    gap: 12px;
    align-items: center;
    padding-right: 20px;
  }

  ul {
    display: flex; 
    list-style-type: none;
    align-items: center;
    gap: 28px;
  }

  li {
    color: white;
    font-family: 'Oswald';
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

/* <!-- Menü Bitiş --> */

/* <!-- Banner Başlangıç ÖZGE--> */

/* <!-- Banner Bitiş --> */

/* <!-- Brand Başlangıç ÖZGE--> */

/* <!-- Brand Bitiş --> */

/* <!-- Grid Alanı Başlangıç MERT--> */

/* <!-- Grid Alanı Bitiş --> */

/* <!-- Products Başlangıç DOĞUKAN--> */

/* <!-- Products Bitiş --> */

/* <!-- Shoping  Başlangıç  ELİF--> */

/* <!-- Shoping  Bitiş --> */

/* <!-- Featured  Başlangıç  DOĞUKAN--> */

/* <!-- Featured  Bitiş --> */

/* <!-- Explore  Başlangıç  ELİF--> */

/* <!-- Explore  Bitiş --> */

/* <!-- Blog(post)  Başlangıç  MERT--> */

/* <!-- Blog(post)  Bitiş --> */

/* <!-- Tik Bölümü  Başlangıç  ELİF--> */

/* <!-- Tik Bölümü  Bitiş --> */

/* <!-- Footer  Başlangıç DOĞUKAN --> */

/* <!-- Footer  Bitiş --> */
